<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>用户信息管理系统</title>
    <link href="css/table.css" rel="stylesheet">
</head>
<body>
<div class="table" id="userList">
    <section class="header">
        <h1>肃反名单</h1>
        <div class="input-group">
            <label>
                <input v-model="searchText" @input="handleInput" placeholder="ID or Name" type="search"/>
            </label>
            <img src="images/search.png">
        </div>
    </section>
    <section class="shell">
        <table>
            <thead>
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>年龄</th>
                <th>籍贯</th>
                <th>QQ</th>
                <th>邮箱</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in userList">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.age}}</td>
                <td>{{user.address}}</td>
                <td>{{user.qq}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a class="button" href="servlet.html">修改</a>
                    <a class="button" href="">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="js/list.js"></script>
</body>
</html>
