<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="customBeanDefinitionRegistryPostProcessor"
          class="com.xjdl.app.config.CustomBeanDefinitionRegistryPostProcessor"/>

    <bean id="customBeanPostProcessor" class="com.xjdl.app.config.CustomBeanPostProcessor"/>

    <bean id="outputService" name="outputService" scope="prototype" lazy-init="true"
          init-method="initMethod" destroy-method="destroyMethod"
          class="com.xjdl.app.service.OutputService">
    </bean>

    <bean id="helloWorldService" name="helloWorldService" scope="singleton"
          class="com.xjdl.app.service.HelloWorldService">
        <property name="text" value="Hello World!"/>
        <property name="outputService" ref="outputService"/>
    </bean>
</beans>
